<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50263737161-40q8p72icgj0tc6q3pj333nrl1ghvusm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50263737161-40q8p72icgj0tc6q3pj333nrl1ghvusm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>50263737161-5qhfpakhminj7p3u05fv8b29d1dqociq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvSeT3DlMBnzyGoKmjUAL5M9bb-zDl6AM</string>
	<key>GCM_SENDER_ID</key>
	<string>50263737161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.vinod.xamarinfb</string>
	<key>PROJECT_ID</key>
	<string>xamarinfb-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>xamarinfb-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50263737161:ios:64724d33e52a8d02</string>
	<key>DATABASE_URL</key>
	<string>https://xamarinfb-demo.firebaseio.com</string>
</dict>
</plist>